/* ********************************** */
/* BELOW 1344px(smaller desktops) */
/* ********************************** */
@media (max-width: 84em) {
  .hero-section {
    padding: 1.8rem 0 6rem 0;
  }
  .about-content {
    margin: 6.2rem 0 0rem 0;
  }
  .about {
    margin-bottom: 14rem;
  }
  .skills {
    margin: 0 auto;
  }
  .skills-heading {
    margin-bottom: 9rem;
  }
  .project {
    margin: 24rem auto;
  }
  .form {
    margin: 12rem;
  }
}
/* ********************************** */
/* BELOW 1200px(landscape tablets) */
/* ********************************** */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .hero {
    gap: 4.8rem;
  }
}
/* ********************************** */
/* BELOW 944px(Tablets) */
/* ********************************** */
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }
  .hero-text {
    justify-self: center;
  }
  .hero-img-sec {
    justify-self: center;
  }
  .hero-text-sub {
    display: block;
    text-align: center;
    padding-left: 0;
  }
  .hero-button-sec {
    margin-left: 0;
    justify-content: center;
  }
}
/* ********************************** */
/* small tablet 700px() */
/* ********************************** */
@media (max-width: 44em) {
  .about-content {
    flex-direction: column;
  }
  .about-img {
    display: none;
  }
  .about-text {
    margin: 1.8rem 7rem;
  }
  .project-section {
    grid-template-columns: 1fr;
    margin-bottom: 0rem;
    row-gap: 3rem;
  }
  .project {
    margin-bottom: 5rem;
  }
  .form {
    margin: 9rem;
  }
}
/* ********************************** */
/* phones 544px() */
/* ********************************** */

@media (max-width: 34em) {
  .social-list {
    left: 1.8rem;
  }
  .skill-tab {
    gap: 1.8rem;
    margin: 0 1.6rem;
  }
  .html,
  .css,
  .js {
    padding: 1.8rem 1.8rem;
  }
  .form-grid {
    display: flex;
    flex-direction: column;
  }
  .skill-tab {
    flex-direction: column;
    gap: 0.8rem;
  }
}
